
body {font-family: 'Roboto', sans-serif ;
  background-color: #333333;
}

p.description {padding: 21px;
  color:#ffffff;
  font-weight: 300;
} 

.main-header {
  background-color:#252525;
  padding-left:15px;
  padding-right:15px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius:4px;
}


.body {padding: 17px 30px;}

.nav-link {color:white;
  text-decoration:none;
  margin-right:-4px; 
  width:33%; 
  display:inline-block;}
  
  .text-center {text-align: center;
    padding: 36px;}
    
    
    .main-container {min-height: 100vh;}
    
    .product img {width:74px; 
      padding-top: 33px;}
      
      
      .card {border-radius:4px; 
        background-color:#413f3f; 
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.24);}
        
        .delay-1 {animation-delay: 0.1s;position:relative;z-index:5;}
        .delay-2 {animation-delay: 0.2s;position:relative;z-index:4;}
        .delay-3 {animation-delay: 0.3s;position:relative;z-index:3;}
        .delay-4 {animation-delay: 0.4s;position:relative;z-index:2;}
        .delay-5 {animation-delay: 0.5s;position:relative;z-index:1;}
        
        form {
          width: 320px;
          margin: 0 auto;
        }
        
        .group {
          position: relative;
          margin: 45px 0;
        }
        
        textarea {
          resize: none;
        }
        
        input, textarea {
          background: none;
          color: #c6c6c6;
          font-size: 15px;
          padding: 10px 10px 10px 5px;
          display: block;
          width: 285px;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #c6c6c6;
        }
        
        input:focus,
        textarea:focus {
          outline: none;
        }
        
        input:focus ~ label, input:valid ~ label,
        textarea:focus ~ label,
        textarea:valid ~ label {
          top: -14px;
          font-size: 12px;
          color: #df2d2f;
        }
        
        
        label {
          color: #c6c6c6;
          font-size: 16px;
          font-weight: normal;
          position: absolute;
          pointer-events: none;
          left: 5px;
          top: 10px;
          -webkit-transition: 300ms ease all;
          transition: 300ms ease all;
        }
        
        
        .btn {
          
          
          border: none;
          padding: 10px 20px;
          border-radius: 3px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-decoration: none;
          outline: none;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        }
        
        
        .btn:hover {
          
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
        }
        
        .btn.btn-submit {
          font-family: 'Roboto', sans-serif;
          font-weight: normal;
          background: #8b8b8b;
          color: #ffffff;
        }
        
        .btn.btn-submit:hover {
          background: #df2d2f;
          
        }
        
        .btn-box {
          text-align: center;
          margin: 50px 0;
        }
        
        h5 {color:#8b8b8b; 
          text-align: center;
          font-weight: lighter;
          margin-top: -80px;
        }
        